body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}

.hero-section {
    width: 100%;
    height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-section h1 {
    color: rgb(0, 191, 249);
    text-shadow: 2px 2px 10px #960c0c;
    font-size: 50px;
}

.hero-section p {
    font-size: 20px;
    color: white;
    width: 50%;
}

.hero {
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}

.donate-button {
    text-decoration: none;
    background-color: brown;
    color: white;
    font-size: 30px;
    padding: 10px 40px;
    border-radius: 10px;
}

.donate-today {
    text-align: center;
}

#donate-now {
    font-size: 40px;
}

#donate-now-p {
    width: 50%;
    height: 500px;
}

.tk {

    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;


}

.tk1 {
    width: 14%;
    padding: 40px 10px;
    background-color: aliceblue;
    margin: 2%;
    border-radius: 5%;
    border-radius: 3px;
}

.tk2 {
    width: 14%;
    padding: 40px 10px;
    background-color: bisque;
    margin: 2%;
    border: 2px red solid;
    border-radius: 3px;
}

.tk3 {
    width: 14%;
    padding: 40px 10px;
    background-color: aliceblue;
    margin: 2%;
    border-radius: 5%;
    border-radius: 3px;
}

.tk4 {
    width: 14%;
    padding: 40px 10px;
    background-color: aliceblue;
    margin: 2%;
    border-radius: 5%;
    border-radius: 3px;
}

.amount p {
    text-align: center;
}

.button-div {
    text-align: center;
}

.amount-button {
    text-decoration: none;
    background-color: rgb(198, 161, 13);
    color: white;
    font-size: 30px;
    padding: 10px 40px;
    border-radius: 10px;
    text-align: center;


}

.plane {
    justify-content: center;
    align-items: center;

}


.no-1 {
    width: 30%;
    padding: left;
    box-shadow: 10px 10px 10px antiquewhite;
    background-color: rgb(212, 228, 223);

}

.no-2 {
    width: 30%;
    padding: left;
    box-shadow: 10px 10px 10px antiquewhite;
    background-color: rgb(186, 218, 236);
}

.no-3 {
    width: 30%;
    padding: left;
    box-shadow: 10px 10px 10px antiquewhite;
    background-color: rgb(217, 196, 226);
}

.footer {
    text-align: center;
    background-color: black;
    color: #960c0c;
    height: 200px;
}